.card {
    /* margin: 20px auto;
    width: 100%;
    max-width: 500px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px; */
}

.header {
    padding-top: 20px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 0px;
}

